body {
  background-color: #000000;
}

a {
  font: 15px Monaco, monospace;
  text-align:center;
  display:block;
  color: #ffffff;
}

h1 {
  font: 50px Monaco, monospace;
  text-align: center;
  color: #ffffff;
}

h2 {
  font: 30px Monaco, monospace;
  text-align: center;
  color: #ffffff;
}

p {
  font: 20px Monaco, monospace;
  text-align: center;
  color: #ffffff;
}

